/** Feuille de style SASS */
/* SCSS HEX */
/** Font 
font-family: 'Old Standard TT', serif;
font-family: 'Arimo', sans-serif; **/
/** Meyer's CSS Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #dcdcddff;
}

#header {
  width: 90vw;
  height: 15vh;
  margin: auto;
  background-color: #46494cff;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 4em;
  overflow: hidden;
  border-bottom: 3px solid #1985a1ff;
  border-left: 3px solid #1985a1ff;
  border-right: 3px solid #1985a1ff;
  border-radius: 0 0 10px 10px;
}
#header h1 {
  padding-top: 0.5em;
}
#header a {
  text-decoration: none;
  color: #dcdcddff;
}
#header a:hover, #header :visited, #header a:active {
  color: #dcdcddff;
}

.navtop {
  overflow: hidden;
  border-top: 3px solid #1985a1ff;
  border-left: 3px solid #1985a1ff;
  border-right: 3px solid #1985a1ff;
  border-radius: 10px 10px 0 0;
  width: 90vw;
  text-align: right;
  background-color: #46494cff;
  font-family: "Old Standard TT", serif;
  margin: 1vh auto 0vh auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.navtop__link {
  text-decoration: none;
  font-size: 1.4em;
  margin: 0 1em 0 1em;
  color: #dcdcddff;
}

.bloc1 {
  width: 90vw;
  height: 40vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-left: 3px solid #1985a1ff;
  border-right: 3px solid #1985a1ff;
}
.bloc1__img {
  widows: 50%;
  height: 100%;
  background-image: url(images/bearsbackground.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}
.bloc1__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  padding-top: 3em;
  padding-left: 1em;
  font-family: "Old Standard TT", serif;
  font-size: 0.9em;
  color: #dcdcddff;
}
.bloc1__text h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #dcdcddff;
}
@media screen and (min-width: 480px) {
  .bloc1__text {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .bloc1__text {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 998px) {
  .bloc1__text {
    font-size: 1.8em;
  }
}

.bloc2 {
  overflow: hidden;
  border-bottom: 3px solid #1985a1ff;
  border-left: 3px solid #1985a1ff;
  border-right: 3px solid #1985a1ff;
  border-radius: 0 0 10px 10px;
  width: 90vw;
  min-height: 20vh;
  margin: 0vh auto 1vh auto;
  background-color: #46494cff;
  text-align: center;
  padding: 3vh 0vw 3vh 0vw;
  display: flex;
  flex-direction: column;
}
.bloc2 h2 {
  font-family: "Old Standard TT", serif;
  font-size: 2.5em;
  margin: 5vh auto 5vh auto;
  color: #dcdcddff;
}
.bloc2 h3 {
  font-size: 1.8em;
  margin: 3vh auto 3vh auto;
}
.bloc2 img {
  box-sizing: border-box;
  border: 3px solid #1985a1ff;
  border-radius: 10px;
  margin-bottom: 2vh;
}
.bloc2 p {
  color: #dcdcddff;
  margin-top: 20px;
}
.bloc2 table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
  background-color: #46494cff;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: #dcdcddff;
}
.bloc2 tr {
  padding: 5px;
}
.bloc2 th {
  border: 2px solid #1985a1ff;
  padding: 5px;
}
.bloc2 td {
  border: 2px solid #1985a1ff;
  padding: 5px;
}
.bloc2__item {
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  margin: 5vh auto 5vh auto;
  width: 80%;
  color: #dcdcddff;
}
.bloc2__item img {
  box-sizing: border-box;
  border: 3px solid #1985a1ff;
  border-radius: 10px;
  width: 90%;
  transform: scale(1);
  transition: transform 600ms ease-in-out;
}
@media screen and (min-width: 480px) {
  .bloc2__item img {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .bloc2__item img {
    width: 50%;
  }
}
@media screen and (min-width: 998px) {
  .bloc2__item img {
    width: 40%;
  }
}
.bloc2__item img:hover {
  transform: scale(2);
}
.bloc2__item--price {
  font-weight: 600;
  margin: 3vh auto 3vh auto;
}
.bloc2__optionslabel {
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  color: #dcdcddff;
}
.bloc2__back {
  color: #dcdcddff;
}
.bloc2__mention {
  color: #dcdcddff;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  padding: 0vh 15vh 5vmin 15vh;
}
.bloc2__validation {
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  color: #dcdcddff;
}
.bloc2__validation--orderid {
  color: #1985a1ff;
}
.bloc2__validation--totalprice {
  color: #1985a1ff;
}

#contactbloc {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  width: 60%;
  margin: auto;
  color: #dcdcddff;
}

.identityBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
.identityBloc__legend {
  font-weight: bold;
  color: #1985a1ff;
}

.addressBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.addressBloc__legend {
  font-weight: bold;
  color: #1985a1ff;
}

input {
  margin: auto;
}

#substract_button {
  margin-right: 5px;
}

#add_button {
  margin-left: 5px;
}

#validate__msg {
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  color: #dcdcddff;
}

#empty__cart {
  font-family: "Old Standard TT", serif;
  font-size: 2em;
  color: #dcdcddff;
}

.fail__msg {
  font-family: "Old Standard TT", serif;
  font-size: 2em;
  text-align: center;
  color: #dcdcddff;
}

#addtocart__btn {
  display: block;
  margin: 2vh auto 2vh auto;
  background-color: #1985a1ff;
  border-radius: 5px;
  padding: 10px;
  color: #dcdcddff;
}

#order__btn {
  display: block;
  margin: 2vh auto 2vh auto;
  background-color: #1985a1ff;
  border-radius: 5px;
  padding: 10px;
  color: #dcdcddff;
}

#validorder__btn {
  display: block;
  margin: 2vh auto 2vh auto;
  background-color: #1985a1ff;
  border-radius: 5px;
  padding: 10px;
  color: #dcdcddff;
}

.card {
  width: 70%;
  margin: 5vh auto 1vh auto;
  box-sizing: border-box;
  background-color: #46494cff;
  border-top: 2px solid #1985a1ff;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 998px) {
  .card {
    flex-direction: row;
  }
}
.card__pics {
  margin: 2vh auto 2vh auto;
  width: 90%;
  height: auto;
}
@media screen and (min-width: 480px) {
  .card__pics {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .card__pics {
    width: 50%;
  }
}
@media screen and (min-width: 998px) {
  .card__pics {
    width: 30%;
  }
}
.card__content {
  height: 75%;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  padding-left: 3vh;
  padding-right: 3vh;
}
.card__content p {
  margin-bottom: 2vh;
  color: #dcdcddff;
}
@media screen and (min-width: 480px) {
  .card__content p {
    font-size: 1.2em;
  }
}
.card__content h3 {
  margin: 2vh auto 2vh auto;
  font-size: 1.5em;
  color: #dcdcddff;
}
@media screen and (min-width: 480px) {
  .card__content h3 {
    font-size: 1.6em;
  }
}
.card__btn {
  box-sizing: border-box;
  border: 3px solid #1985a1ff;
  border-radius: 10px;
  background-color: #1985a1ff;
  font-family: "Old Standard TT", serif;
  color: #dcdcddff;
  font-size: 0.8em;
  text-decoration: none;
  padding: 0.5em;
}
@media screen and (min-width: 480px) {
  .card__btn {
    font-size: 1em;
  }
}
.card__btn:hover {
  background-color: #dcdcddff;
  color: #46494cff;
}

#footer {
  width: 90vw;
  height: 12vh;
  line-height: 12vh;
  margin: auto;
  background-color: #46494cff;
  overflow: hidden;
  font-family: "Old Standard TT", serif;
  border-top: 3px solid #1985a1ff;
  border-left: 3px solid #1985a1ff;
  border-right: 3px solid #1985a1ff;
  border-radius: 10px 10px 0 0;
}

.navbot {
  font-family: "Old Standard TT", serif;
  display: flex;
  justify-content: space-between;
}
.navbot a {
  margin: 0 1em 0 1em;
  font-size: 1.5em;
  text-decoration: none;
  color: #dcdcddff;
}
@media screen and (min-width: 480px) {
  .navbot a {
    margin: 0 2em 0 2em;
  }
}

/*# sourceMappingURL=style.css.map */
