/** Feuille de style SASS */
/** Font 
font-family: 'Old Standard TT', serif;
font-family: 'Arimo', sans-serif; **/
/** Meyer's CSS Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #e3d2beff;
}

#header {
  width: 90vw;
  height: 15vh;
  margin: auto;
  background-color: #ca9c68ff;
  color: #542510ff;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 4em;
  overflow: hidden;
  border: 1px solid #97562bff;
  border-radius: 0 0 10px 10px;
}
#header h1 {
  padding-top: 0.5em;
}

.navtop {
  box-sizing: border-box;
  border: 1px solid #97562bff;
  border-radius: 10px;
  width: 90vw;
  text-align: right;
  background-color: #ca9c68ff;
  font-family: "Old Standard TT", serif;
  margin: 1vh auto 1vh auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.navtop__link {
  text-decoration: none;
  color: #542510ff;
  font-size: 1.4em;
  margin: 0 1em 0 1em;
}

.bloc1 {
  box-sizing: border-box;
  border: 1px solid #97562bff;
  border-radius: 10px;
  width: 90vw;
  height: 40vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.bloc1__img {
  widows: 100%;
  height: 100%;
  background-image: url(images/bearsbackground.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.bloc1__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  padding-top: 3em;
  padding-left: 1em;
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  color: #542510ff;
}
.bloc1__text h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.bloc2 {
  box-sizing: border-box;
  border: 1px solid #97562bff;
  border-radius: 10px;
  width: 90vw;
  margin: 1vh auto 1vh auto;
  background-color: #ca9c68ff;
  text-align: center;
}
.bloc2 h2 {
  font-family: "Old Standard TT", serif;
  font-size: 2.5em;
  margin: 5vh auto 5vh auto;
  color: #542510ff;
}

.card {
  width: 70%;
  margin: 1vh auto 1vh auto;
  box-sizing: border-box;
  background-color: #ca9c68ff;
  border-top: 1px solid #97562bff;
  display: flex;
}
.card__pics {
  margin: 2vh auto 2vh auto;
}
.card__content {
  height: 75%;
  font-family: "Old Standard TT", serif;
  color: #542510ff;
  font-size: 1.2em;
  padding-left: 3vh;
  padding-right: 3vh;
}
.card__content p {
  margin-bottom: 2vh;
}
.card__content h3 {
  margin: 2vh auto 2vh auto;
  font-size: 1.8em;
}
.card__btn {
  box-sizing: border-box;
  border: 1px solid #97562bff;
  border-radius: 10px;
  background-color: #6e482fff;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  color: #e3d2beff;
  text-decoration: none;
  padding: 0.5em;
}
.card__btn:hover {
  background-color: #97562bff;
}

#footer {
  width: 90vw;
  height: 12vh;
  line-height: 12vh;
  margin: auto;
  background-color: #ca9c68ff;
  overflow: hidden;
  font-family: "Old Standard TT", serif;
  border: 1px solid #97562bff;
  border-radius: 10px 10px 0 0;
}

.navbot {
  font-family: "Old Standard TT", serif;
  display: flex;
  justify-content: space-between;
}
.navbot a {
  margin: 0 2em 0 2em;
  color: #542510ff;
  font-size: 1.5em;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
