//* colors palette for ORIBEARS //


/* SCSS HEX */
$russian-violet: #231942ff;
$purple-navy: #5e548eff;
$purple-mountain-majesty: #9f86c0ff;
$lilac: #be95c4ff;
$pink-lavender: #e0b1cbff;
$white: #FFFFFF;