//* généric stylesheet //

/** Font 
font-family: 'Old Standard TT', serif;
font-family: 'Arimo', sans-serif; **/

/** Meyer's CSS Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    background-color: $sable;
}

#header {

    width:90vw;
    height:15vh;
    margin: auto;
    background-color: $camel;
    color:$brown;
    text-align: center;
    font-family:'Old Standard TT', serif; 
    font-size:4em;
    overflow: hidden;
    border: 1px solid $havane;
    border-radius: 0 0 10px 10px;
    

    h1 {

        padding-top: 0.5em;
    }
}

.navtop {
    @include border;
    width: 90vw;
    text-align: right;
    background-color: $camel;
    font-family: 'Old Standard TT', serif;
    margin: 1vh auto 1vh auto;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    

    &__link {

        text-decoration: none;
        color: $brown;
        font-size: 1.4em;
        margin:0 1em 0 1em ;

    }
}

.bloc1 {

    @include border;
    width:90vw;
    height: 40vh;
    margin:auto;
    position: relative;
    overflow: hidden;
    
    &__img {
    
    widows: 100%;
    height:100%;
    background-image: url(images/bearsbackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    }

    &__text {
        position: absolute;
        top: 0;
        left:0;
        width: 35%;
        padding-top: 3em;
        padding-left:1em;
        font-family:'Old Standard TT', serif;
        font-size: 1.8em;
        color:$brown;

        h2 {
            font-size: 1.2em;
            margin-bottom: 1em;
        }
        

    }
}

.bloc2 {
    @include border;
    width: 90vw;
    margin:1vh auto 1vh auto;
    background-color: $camel;
    text-align: center;
    padding: 3vh 2vw 3vh 2vw;
    
    h2 {
        font-family:'Old Standard TT', serif; 
        font-size: 2.5em;
        margin: 5vh auto 5vh auto;
        color: $brown;
    }

    h3 {
        font-size: 1.8em;
        margin: 3vh auto 3vh auto;
    }

    img {
        @include border;
        margin-bottom: 2vh;
    }

    &__item {
        font-family:'Old Standard TT', serif; 
        font-size: 1.5em;
        margin: 5vh auto 5vh auto;
        color: $brown;

        img {
            @include border;
            transform: scale(1);
            transition: transform 300ms ease-in-out;
        }
        img:hover {
            transform: scale(2);
        }
        &--price {
            font-weight: 600;
            margin: 3vh auto 3vh auto;
        }
    }
    &__option {
        font-family:'Old Standard TT', serif; 
        font-size: 1.5em;
        color: $brown;
            
    }
}


.card {
    width:70%;
    margin:1vh auto 1vh auto;
    box-sizing: border-box;
    background-color: $camel;
    border-top: 1px solid $havane;
    display: flex;
    

    &__pics {
        margin: 2vh auto 2vh auto;
        
    }
    &__content {
        height:75%;
        font-family:'Old Standard TT', serif; 
        color: $brown;
        font-size: 1.2em;
        padding-left: 3vh;
        padding-right: 3vh;
        
        p {
            margin-bottom: 2vh;
        }
        h3 {
            margin: 2vh auto 2vh auto;
            font-size: 1.8em;

        }
    }
    &__btn {

        @include border;
        background-color: $lightbrown;
        font-family:'Old Standard TT', serif;
        font-size: 1em;
        color: $sable;
        text-decoration: none;
        padding: 0.5em;
    }
    &__btn:hover {

        background-color: $havane;
    }

}
#footer {

    width:90vw;
    height:12vh;
    line-height: 12vh;
    margin: auto;
    background-color: $camel;
    overflow: hidden;
    font-family: 'Old Standard TT', serif;
    border: 1px solid $havane;
    border-radius:10px 10px 0 0;
    

}


.navbot {

    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: space-between;

    a {
        margin: 0 2em 0 2em;
        color:$brown;
        font-size:1.5em;
        text-decoration:none;
    
    }
    
}